<h2 mat-dialog-title>Nota metodológica</h2>
<mat-divider class="navigation-divider"></mat-divider>
<mat-dialog-content>
    <div class="dialog-content">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi,
            expedita saepe consectetur rerum animi itaque asperiores possimus
            repellat obcaecati. A id consectetur culpa sint dolor at obcaecati
            iusto atque eveniet! Quos molestias natus dolores, reprehenderit
            quam eaque quae nam quas velit voluptatibus dolorum iusto distinctio
            sit nobis sed quisquam porro! Fuga molestiae recusandae dolorum,
            dolorem ratione tenetur modi fugit ducimus. Dolorem deleniti,
            veritatis atque eveniet error voluptate quisquam dolore, delectus
            nemo itaque dolores doloribus reprehenderit numquam in? Expedita
            minima blanditiis accusantium ex sint veritatis repellendus! Magni
            iure asperiores tempore delectus!
        </p>
    </div>
</mat-dialog-content>
<mat-divider class="navigation-divider"></mat-divider>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
