$color-rose: #ce5690;
$color-yellow: #f6e4a9;
$color-purple: #604289;
$color-blue1: #b8e0ea;
$color-blue2: #00a6d9;

$color-violet: #61568d;
$color-blue: #262840;
$color-blue-light: #91b0d9;
$color-background: #e5ebf7;
$color-orange: #f2ae72;
$color-rose: #f08077;

// SEJ
$color-sej-purple: #960048;
$color-sej-red: #e7004c;
$color-sej-pink1: #f45197;
$color-sej-pink2: #fa7598;
$color-sej-violet1: #9578d3;
$color-sej-violet2: #c29fd8;
$color-sej-violet3: #ecd2e1;
$color-sej-blue1: #004a98;
$color-sej-blue2: #00a7e1;
$color-sej-blue3: #6bc4e8;
$color-sej-green: #3dae2b;
$color-sej-yellow: #ffc600;
$color-sej-orange1: #ff6c37;
$color-sej-orange2: #ff9d6c;
$color-sej-gray: #7b868c;
$color-sej-white: white;

.map {
    width: 100%;
    height: 100%;
}
#overlay {
    position: absolute;
    z-index: 1;
}
#layertreee {
    position: absolute;
    // margin-left: 1rem;
}
.mat-expansion-panel-body {
    margin-top: 20px;
}
.mat-expansion-panel {
    background: $color-sej-white;
    margin: 0;
    // width: 200px;
}
.mat-expansion-panel-center {
    margin: 0;
}
.mat-expansion-panel-header .mat-expansion-panel-body {
    margin: 0;
}
.mat-card {
    padding: 0rem;
}
.acordion-mat {
    padding-top: 0.8rem;
    margin-left: 1.2rem;
}
.capas {
    font-size: 1rem;
    margin: 16px;
}
.covid-layer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: $color-purple;
}
@media screen and (max-width: 1240px) {
    .capas {
        margin: 10px;
    }
    .mat-expansion-panel {
        width: 140px;
    }
    .mat-expansion-panel-body {
        padding: 0 10px 16px;
    }
    .img {
        width: 100px;
    }
}
