<div class="contenedor">
    <div class="box">
        <a class="flex-logo" mat-stroked-button (click)="onIIEG()" target="_blank">
            <img src="./assets/images/iieg_logo_blanco.svg" class="flex-container-img-logo">
        </a>
        <!-- <button  (click)="onLogin()" style="opacity: 0; cursor: pointer;" ></button> -->
        
    </div>
    <div class="boxtexto">
        <div><h2><p>Geoportal IIEG</p></h2></div>

    </div>

    <div class="flex-container">
        <div>
            <a class="flex-item" mat-stroked-button (click)="onIIEG()">
                <img src="./assets/images/logo-iieg.svg" class=" flex-container-img">
                <h3 class="flex-container-title">INICIO</h3>
            </a>
        </div>
        <!-- <div>
            <a class="flex-item-den" mat-stroked-button (click)="onIIEG()">
                <img src="../../assets/images/logo-iieg.svg" class=" flex-container-img">
                <h3 class="flex-container-title">INICIO</h3>
            </a>
        </div>
        <div>
            <a class="flex-item" mat-stroked-button (click)="onCovid()">
                <img src="../../assets/images/logo-iieg.svg" class=" flex-container-img">
                <h3 class="flex-container-title">INICIO</h3>
            </a>
        </div>     -->
    </div>
</div>
<!-- 
<div class="login-page">
    <div class="content">
        <h1 class="app-name">Sb Admin Material</h1>
        <form class="login-form" fxFlex  >
            <div class="text-center">
                <h2 class="app-name">IIEG - DENSIDAD ECONOMICA</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div fxFlex  fxLayoutAlign="end">
                    <a href="javascript:void(0)">Forget Password</a>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="onLogin()">Login</button>
                </div>
            </div>

        </form>
    </div>
</div> -->