<div class="main-content">
    <!-- <ngx-spinner bdColor="#000000" size="medium" color=" #00A6D9">
        <img src="https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif" /> -->
    <!-- [fullScreen]="false" -->
    <!-- type="square-spin" -->
    <!-- type="ball-scale-multiple" -->
    <!-- type="ball-clip-rotate-multiple" -->
    <!-- <p style="font-size: 20px; color: #ce5690">Carcango...</p> -->
    <!-- </ngx-spinner> -->

    <div class="content">
        <div class="data" *ngIf="!dataSchoolActive">
            <form
                [formGroup]="formGroupFilter"
                (ngSubmit)="onSubmit()"
                class="filter_by_word"
            >
                <div class="select_filter">
                    <mat-form-field appearance="standard">
                        <mat-label>Seleccionar filtro</mat-label>
                        <mat-select name="filter" formControlName="filter">
                            <mat-option
                                *ngFor="let filter of filters"
                                [value]="filter.value"
                            >
                                {{ filter.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="search_filter">
                    <mat-form-field appearance="standard">
                        <mat-label>Buscar por palabra</mat-label>
                        <input matInput formControlName="filterString" />
                    </mat-form-field>
                </div>
                <div class="button_filter">
                    <button
                        mat-raised-button
                        type="submit"
                        class="btn btn-sm btn-search"
                    >
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </form>
        </div>

        <div class="data" *ngIf="!dataSchoolActive">
            <button
                class="btn_filter"
                matTooltip="Seleccionar filtros"
                mat-raised-button
                (click)="openBottomSheet()"
            >
                Filtrar
            </button>
        </div>
        <div class="data" *ngIf="!dataSchoolActive">
            <div class="info">
                <div class="schools">
                    <mat-card class="schools_content">
                        <img
                            mat-card-lg-image
                            class="icons"
                            src="./assets/images/sej/icons/icon_student_sup.svg"
                            alt=""
                        />
                        <mat-card-content>
                            <mat-card-subtitle class="name-dep"
                                ><span
                                    >Alumnos Educación Media Superior</span
                                ></mat-card-subtitle
                            >
                            <mat-card-title
                                ><div class="schools_content">
                                    <span class="num-student">{{
                                        totEstudiantesMedSup | milesPipe
                                    }}</span>
                                </div></mat-card-title
                            >
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="info">
                <div class="schools">
                    <mat-card class="schools_content">
                        <img
                            mat-card-lg-image
                            class="icons"
                            src="./assets/images/sej/icons/icon_student_trab.svg"
                            alt=""
                        />
                        <mat-card-content>
                            <mat-card-subtitle
                                ><span
                                    >Alumnos Formación para el Trabajo</span
                                ></mat-card-subtitle
                            >
                            <mat-card-title
                                ><div class="schools_content">
                                    <span class="num-student">{{
                                        totEstudiantesCapTrab | milesPipe
                                    }}</span>
                                </div></mat-card-title
                            >
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="data" *ngIf="!dataSchoolActive">
            <div class="info">
                <div class="schools">
                    <mat-card class="schools_content">
                        <img
                            mat-card-lg-image
                            class="icons"
                            src="./assets/images/sej/icons/icon_school_sup.svg"
                            alt=""
                        />
                        <mat-card-content>
                            <mat-card-subtitle
                                ><span
                                    >Escuelas Educación Media Superior</span
                                ></mat-card-subtitle
                            >
                            <mat-card-title
                                ><div class="schools_content">
                                    <span class="num-schools">{{
                                        totEscuelasMedSup | milesPipe
                                    }}</span>
                                </div></mat-card-title
                            >
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="info">
                <div class="schools">
                    <mat-card class="schools_content">
                        <img
                            mat-card-lg-image
                            class="icons"
                            src="./assets/images/sej/icons/icon_school_trab.svg"
                            alt=""
                        />
                        <mat-card-content>
                            <mat-card-subtitle
                                ><span
                                    >Escuelas Formación para el Trabajo</span
                                ></mat-card-subtitle
                            >
                            <mat-card-title
                                ><div class="schools_content">
                                    <span class="num-schools">{{
                                        totEscuelasCapTrab | milesPipe
                                    }}</span>
                                </div></mat-card-title
                            >
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="data" *ngIf="!dataSchoolActive">
            <div class="info">
                <div class="schools">
                    <mat-card class="schools_content">
                        <div class="doughnut-pie">
                            <canvas
                                baseChart
                                [data]="doughnutChartData"
                                [chartType]="doughnutChartType"
                                [options]="doughnutChartOptions"
                                [colors]="doughnutChartColors"
                                [legend]="doughnutChartLegend"
                            >
                            </canvas>
                        </div>
                        <mat-card-content class="student">
                            <div class="schools_content-icons">
                                <img
                                    mat-card-sm-image
                                    class="icons"
                                    src="./assets/images/sej/icons/icon_men.svg"
                                    alt=""
                                />
                                <span class="num-graf">{{
                                    totHombresMedSup | milesPipe
                                }}</span>
                            </div>
                            <div class="schools_content-icons">
                                <img
                                    mat-card-sm-image
                                    class="icons"
                                    src="./assets/images/sej/icons/icon_woman.svg"
                                    alt=""
                                />
                                <span class="num-graf">{{
                                    totMujeresMedSup | milesPipe
                                }}</span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="info">
                <div class="schools">
                    <mat-card class="schools_content">
                        <div class="doughnut-pie">
                            <canvas
                                baseChart
                                [data]="doughnutChartData2"
                                [chartType]="doughnutChartType"
                                [options]="doughnutChartOptions"
                                [colors]="doughnutChartColors"
                                [legend]="doughnutChartLegend"
                            >
                            </canvas>
                        </div>
                        <mat-card-content class="student">
                            <div class="schools_content-icons">
                                <img
                                    mat-card-sm-image
                                    class="icons"
                                    src="./assets/images/sej/icons/icon_men.svg"
                                    alt=""
                                />
                                <span class="num-graf">{{
                                    totHombresCapTrab | milesPipe
                                }}</span>
                            </div>
                            <div class="schools_content-icons">
                                <img
                                    mat-card-sm-image
                                    class="icons"
                                    src="./assets/images/sej/icons/icon_woman.svg"
                                    alt=""
                                />
                                <span class="num-graf">{{
                                    totMujeresCapTrab | milesPipe
                                }}</span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="data-school" *ngIf="dataSchoolActive">
            <div class="data-school-1">
                <div class="div-label-sub">
                    <div class="label-sub">Subsecretaría de Educación</div>
                </div>
            </div>

            <div class="data-school-2">
                <div class="data-school-2-content">
                    <div class="close-data">
                        <span
                            class="close"
                            matTooltip="Ir al filtrado"
                            (click)="closeData()"
                            >X</span
                        >
                    </div>
                </div>
            </div>
        </div>

        <div *ngFor="let dataSchool of dataSchool1">
            <div class="data-school" *ngIf="dataSchoolActive">
                <div class="data-school-1">
                    <div class="data-school-1-content">
                        <div class="school-name">CLAVE ESCUELA</div>
                        <div class="school-data">
                            {{ dataSchool.properties.clave_escuela }}
                        </div>
                    </div>

                    <div class="data-school-1-content">
                        <div class="school-name">PLANTEL</div>
                        <div class="school-data">
                            {{ dataSchool.properties.nombre_escuela }}
                        </div>
                    </div>

                    <div class="data-school-1-content">
                        <div class="school-name">MODALIDAD</div>
                        <div class="school-data">
                            {{ dataSchool.properties.programa }}
                        </div>
                    </div>

                    <div class="data-school-1-content">
                        <div class="school-name">CARRERAS</div>

                        <div *ngFor="let career of careers1">
                            {{ career }}
                        </div>
                    </div>

                    <div class="data-school-1-content">
                        <div class="school-name">DOMICILIO</div>
                        <div class="school-data">
                            {{ dataSchool.properties.domicilio }}
                        </div>
                        <div class="school-data">
                            {{ dataSchool.properties.nombre_municipio }}
                        </div>
                        <div class="school-data">
                            {{ dataSchool.properties.codigo_postal }}
                        </div>
                        <div class="school-data">
                            {{ dataSchool.properties.telefono }}
                        </div>
                    </div>
                </div>
                <div class="data-school-2">
                    <div class="schools">
                        <mat-card class="schools_content">
                            <img
                                mat-card-lg-image
                                class="icons"
                                src="./assets/images/sej/icons/icon_student_sup.svg"
                                alt=""
                            />
                            <mat-card-content>
                                <mat-card-subtitle
                                    ><span>Alumnos</span></mat-card-subtitle
                                >
                                <mat-card-title
                                    ><div class="schools_content">
                                        <span class="num-student">{{
                                            alumnosTotClickMap1 | milesPipe
                                        }}</span>
                                    </div></mat-card-title
                                >
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="schools">
                        <mat-card class="schools_content">
                            <div class="doughnut-pie">
                                <canvas
                                    baseChart
                                    [data]="doughnutChartDataClickMap1"
                                    [chartType]="doughnutChartType"
                                    [options]="doughnutChartOptions"
                                    [colors]="doughnutChartColors"
                                    [legend]="doughnutChartLegend"
                                >
                                </canvas>
                            </div>
                            <mat-card-content class="student">
                                <div class="schools_content-icons">
                                    <img
                                        mat-card-sm-image
                                        class="icons"
                                        src="./assets/images/sej/icons/icon_men.svg"
                                        alt=""
                                    />
                                    <span class="num-graf">{{
                                        hombresClickMap1 | milesPipe
                                    }}</span>
                                </div>
                                <div class="schools_content-icons">
                                    <img
                                        mat-card-sm-image
                                        class="icons"
                                        src="./assets/images/sej/icons/icon_woman.svg"
                                        alt=""
                                    />
                                    <span class="num-graf">{{
                                        mujeresClickMap1 | milesPipe
                                    }}</span>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="separator" *ngIf="dataSchoolActive">
                <hr />
            </div>
        </div>
        <div *ngIf="alumnosTotClickMap2 > 0">
            <div *ngFor="let dataSchool of dataSchool2">
                <div class="data-school" *ngIf="dataSchoolActive">
                    <div class="data-school-1">
                        <div class="data-school-1-content">
                            <div class="school-name">CLAVE ESCUELA</div>
                            <div class="school-data">
                                {{ dataSchool.properties.clave_escuela }}
                            </div>
                        </div>

                        <div class="data-school-1-content">
                            <div class="school-name">PLANTEL</div>
                            <div class="school-data">
                                {{ dataSchool.properties.nombre_escuela }}
                            </div>
                        </div>

                        <div class="data-school-1-content">
                            <div class="school-name">MODALIDAD</div>
                            <div class="school-data">
                                {{ dataSchool.properties.programa }}
                            </div>
                        </div>

                        <div class="data-school-1-content">
                            <div class="school-name">CARRERAS</div>

                            <div *ngFor="let career of careers2">
                                {{ career }}
                            </div>
                        </div>

                        <div class="data-school-1-content">
                            <div class="school-name">DOMICILIO</div>
                            <div class="school-data">
                                {{ dataSchool.properties.domicilio }}
                            </div>
                            <div class="school-data">
                                {{ dataSchool.properties.nombre_municipio }}
                            </div>
                            <div class="school-data">
                                {{ dataSchool.properties.codigo_postal }}
                            </div>
                            <div class="school-data">
                                {{ dataSchool.properties.telefono }}
                            </div>
                        </div>
                    </div>
                    <div class="data-school-2">
                        <div class="schools">
                            <mat-card class="schools_content">
                                <img
                                    mat-card-lg-image
                                    class="icons"
                                    src="./assets/images/sej/icons/icon_student_sup.svg"
                                    alt=""
                                />
                                <mat-card-content>
                                    <mat-card-subtitle
                                        ><span>Alumnos</span></mat-card-subtitle
                                    >
                                    <mat-card-title
                                        ><div class="schools_content">
                                            <span class="num-student">{{
                                                alumnosTotClickMap1 | milesPipe
                                            }}</span>
                                        </div></mat-card-title
                                    >
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div class="schools">
                            <mat-card class="schools_content">
                                <div class="doughnut-pie">
                                    <canvas
                                        baseChart
                                        [data]="doughnutChartDataClickMap1"
                                        [chartType]="doughnutChartType"
                                        [options]="doughnutChartOptions"
                                        [colors]="doughnutChartColors"
                                        [legend]="doughnutChartLegend"
                                    >
                                    </canvas>
                                </div>
                                <mat-card-content class="student">
                                    <div class="schools_content-icons">
                                        <img
                                            mat-card-sm-image
                                            class="icons"
                                            src="./assets/images/sej/icons/icon_men.svg"
                                            alt=""
                                        />
                                        <span class="num-graf">{{
                                            hombresClickMap1 | milesPipe
                                        }}</span>
                                    </div>
                                    <div class="schools_content-icons">
                                        <img
                                            mat-card-sm-image
                                            class="icons"
                                            src="./assets/images/sej/icons/icon_woman.svg"
                                            alt=""
                                        />
                                        <span class="num-graf">{{
                                            mujeresClickMap1 | milesPipe
                                        }}</span>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="separator" *ngIf="dataSchoolActive">
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        <app-map
            [layer_case]="radioButton"
            [dataFilter]="dataFilterDash"
            [dataFilterMap]="dataFilterDashMap"
            (desde_el_hijo)="getDataMap($event)"
            (desde_el_hijo_map)="getDataMap2($event)"
        >
        </app-map>
    </div>
</div>
