<p>Seleccionar filtros</p>
<mat-nav-list>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="mat-form">
            <mat-form-field appearance="outline">
                <mat-label>Región</mat-label>
                <mat-select formControlName="region">
                    <mat-option
                        *ngFor="let region of regiones"
                        [value]="region.value"
                        [disabled]="region.isDisable"
                    >
                        {{ region.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Municipio</mat-label>
                <mat-select formControlName="municipio">
                    <mat-option
                        *ngFor="let town of towns"
                        [value]="town.value"
                        [disabled]="town.isDisable"
                    >
                        {{ town.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Sostenimiento</mat-label>
                <mat-select formControlName="nomSost">
                    <mat-option
                        *ngFor="let nomSost of nomSosts"
                        [value]="nomSost.value"
                        [disabled]="nomSost.isDisable"
                    >
                        {{ nomSost.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Nombre escuela</mat-label>
                <mat-select formControlName="nomEscuela">
                    <mat-option
                        *ngFor="let nomEscuela of nomEscuelas"
                        [value]="nomEscuela.value"
                        [disabled]="nomEscuela.isDisable"
                    >
                        {{ nomEscuela.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Carrera</mat-label>
                <mat-select formControlName="carrera">
                    <mat-option
                        *ngFor="let carrera of carreras"
                        [value]="carrera.value"
                        [disabled]="carrera.isDisable"
                    >
                        {{ carrera.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="filter">
            <button
                mat-raised-button
                type="submit"
                class="btn btn-sm btn-warning btn_filter"
                (click)="sendDataFilter($event)"
            >
                Aplicar filtros
            </button>
        </div>
    </form>
</mat-nav-list>
