<mat-toolbar color="primary" class="fix-nav">
    <button
        type="button"
        mat-icon-button
        class="visible-md"
        (click)="toggleSidebar()"
    >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <img class="logo-first" src="./assets/images/logo-logo-gris.png" alt="" />

    <span class="nav-spacer"></span>

    <img class="logo-iieg" src="./assets/images/iieg_logo_blanco.svg" alt="" />
    <img class="logo-sej" src="./assets/images/logo-logo.png" alt="" />
    <img
        class="logo-jaliscogob"
        src="./assets/images/logo_jalisco_h.svg"
        alt=""
    />
</mat-toolbar>
